/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Header */
.logo {
    width: 200px;
    margin: 20px;
}

/* Login Container */
.login-container {
    background: #005288;
    padding: 30px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    color: #fff;
}

.login-container h1 {
    font-size: 24px;
    text-align: center;
    color: yellow;
}

.login-container span {
    color: yellow;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

/* Captcha Styles */
.captcha-group {
    display: flex;
    align-items: center;
}

.captcha-image {
    width: 120px;
    margin-left: 10px;
}

.refresh-icon {
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.audio-captcha {
    margin: 20px 0;
}

.audio-image {
    width: 50px;
    margin-left: 10px;
}

.language-selection {
    margin: 10px 0;
}

.language-selection select {
    padding: 10px;
    border-radius: 5px;
}

/* Buttons */
button {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    background-color: #ffcc00;
    border: none;
    color: #000;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

/* Secure Global Image */
.secure-global {
    text-align: center;
    margin: 20px 0;
}

.secure-global-image {
    width: 150px;
    height: auto;
}

/* Social Media Links */
.connect {
    text-align: center;
    margin: 30px 0;
    color: #000;
}

.connect-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.connect-icons img {
    width: 30px;
    height: 30px;
}

/* Floating Icon */
.floating-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-image: url('../images/bot-icon-yellow.png');
    background-size: cover;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .login-container {
        max-width: 95%;
    }

  footer {
    text-align: center;
    color: white;
    margin-top: 20px;
}

footer .highlight {
    color: yellow;
}

    .captcha-image {
        width: 100px;
    }

    .floating-icon {
        width: 60px;
        height: 60px;
    }
  }
  
